absl-py
accelerate
aiohappyeyeballs
aiohttp
aiosignal
alabaster
ale-py
altair
altgraph
annotated-types
anyio
asgiref
astunparse
async-timeout
attrs
babel
backoff
backports.tarfile
bcrypt
beautifulsoup4
bidict
bitsandbytes
bleak
blinker
blis
build
bullet
cabarchive
cachetools
catalogue
certifi
cffi
charset-normalizer
chess
chromadb
click
cloudpathlib
cloudpickle
clr
colorama
coloredlogs
comtypes
confection
contourpy
cryptography
cx_Freeze
cx_Logging
cycler
cymem
datasets
deepface
diffuser
diffusers
dill
diskcache
distro
Django
docutils
durationpy
edge-tts
en_core_web_sm
exceptiongroup
faiss-cpu
fake-useragent
Farama-Notifications
fastapi
filelock
fire
Flask
flask-cors
Flask-SocketIO
flatbuffers
fonttools
frozenlist
fsspec
fuzzywuzzy
gast
gdown
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
google-pasta
googleapis-common-protos
gpt4all
greenlet
grpcio
grpcio-status
gTTS
gunicorn
gym
gym-notices
gymnasium
h11
h5py
httpcore
httplib2
httptools
httpx
huggingface-hub
humanfriendly
idna
imagesize
importlib_metadata
importlib_resources
iniconfig
invoke
itsdangerous
jaraco.classes
jaraco.context
jaraco.functools
jax
jaxlib
Jinja2
jiter
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
keras
keyboard
keyring
kiwisolver
kubernetes
langchain
langchain-core
langchain-text-splitters
langcodes
langsmith
language_data
Levenshtein
libclang
lief
linkify-it-py
llama_cpp_python
llvmlite
lz4
marisa-trie
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdit-py-plugins
mdurl
mediapipe
ml_dtypes
mmh3
more-itertools
mouse
MouseInfo
mpmath
mtcnn
multidict
multiprocess
murmurhash
namex
narwhals
networkx
nltk
Nuitka
numba
numpy
oauthlib
onnxruntime
openai
openai-whisper
opencv-contrib-python
opencv-python
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
openvr
opt_einsum
optree
ordered-set
orjson
outcome
overrides
packaging
Panda3D
panda3d-gltf
panda3d-simplepbr
pandas
paramiko
pefile
peft
pillow
pip
platformdirs
playsound
pluggy
plyer
pocketsphinx
polars
posthog
preshed
propcache
proto-plus
protobuf
psutil
pyarrow
pyasn1
pyasn1_modules
PyAudio
PyAutoGUI
pybase64
pybluez2
pycountry
pycparser
pydantic
pydantic_core
pydeck
pygame
PyGetWindow
pyglet
Pygments
pyinstaller
pyinstaller-hooks-contrib
pyjokes
PyMsgBox
PyNaCl
PyOpenGL
PyOpenGL-accelerate
pyparsing
PyPDF2
pyperclip
PyPika
pypiwin32
pyproject_hooks
PyQt5
pyqt5-plugins
PyQt5-Qt5
PyQt5_sip
pyqt5-tools
PyQt6
PyQt6-Qt6
PyQt6_sip
PyQtWebEngine
PyQtWebEngine-Qt5
pyreadline3
PyRect
PyScreeze
pyserial
PySide2
PySide6
PySide6_Addons
PySide6_Essentials
PySimpleGUI
PySimpleGUIWeb
PySocks
pytest
python-dateutil
python-dotenv
python-engineio
python-Levenshtein
python-socketio
pyttsx3
pytweening
pytz
PyWavefront
pywhatkit
pywifi
pywin32
pywin32-ctypes
PyYAML
qrcode
qt5-applications
qt5-tools
RapidFuzz
referencing
regex
remi
requests
requests-oauthlib
requests-toolbelt
retina-face
rich
rpds-py
rsa
safetensors
scapy
schedule
scikit-learn
scipy
screeninfo
selenium
sentence-transformers
sentencepiece
sentry-sdk
setuptools
shellingham
shiboken2
shiboken6
simple-websocket
six
sklearn
smart-open
smmap
sniffio
snowballstemmer
sortedcontainers
sounddevice
soundfile
soupsieve
spacy
spacy-legacy
spacy-loggers
SpeechRecognition
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
SQLAlchemy
sqlparse
srsly
srt
stable_baselines3
starlette
streamlit
striprtf
sympy
tabulate
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-io-gcs-filesystem
termcolor
textual
tf_keras
thinc
threadpoolctl
tiktoken
tinydb
tokenizers
toml
tomli
torch
torchvision
tornado
tqdm
transformers
trio
trio-websocket
typer
typing_extensions
typing-inspection
tzdata
uc-micro-py
ultralytics
ultralytics-thop
uritemplate
urllib3
ursina
urwid
uvicorn
vosk
wandb
wasabi
watchdog
watchfiles
wcwidth
weasel
websocket-client
websockets
Werkzeug
wheel
wikipedia
winrt-runtime
winrt-Windows.Devices.Bluetooth
winrt-Windows.Devices.Bluetooth.Advertisement
winrt-Windows.Devices.Bluetooth.GenericAttributeProfile
winrt-Windows.Devices.Enumeration
winrt-Windows.Foundation
winrt-Windows.Foundation.Collections
winrt-Windows.Storage.Streams
WMI
wrapt
wsproto
xxhash
yarl
zipp
zstandard